.Testimonials{
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
    
}
.left-t{
    display: flex;
    flex: 1 1;
    gap: 10px;
    flex-direction: column;
    text-transform: uppercase;
    /* color: white; */
}

.left-t>:nth-child(1){
   color:orange;
   font-weight: bold;
   font-size: 40px;
}

.left-t>:nth-child(2){
    font-size: 20px;
}
.left-t>:nth-child(3){
    font-weight: bold;
    font-size: 25px;
}

.left-t>:nth-child(4){
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 30px;
}

.right-t{
    flex:1;
    position: relative;
    
}


.arrows{
    display: flex;
    gap: 1px;
    position: absolute;
    bottom: 1px;
    left: 10px;

}
.left-arrow{
    position: relative;
    width: 30px;
    height: 15px;
    object-fit: cover;
    cursor: pointer;
  
}
.right-arrow{
    position: relative;
    width: 30px;
    height: 15px;
    object-fit: cover;
    cursor: pointer;
    
}

.right-t-image{
    position: absolute;
    width: 250px;
    height: 300px;
    object-fit: cover;
    right: 30px;
    top: 10px;
    left: 119px;
}

.right-t>:nth-child(1){
    position: absolute;
    width: 250px;
    height: 300px;
    border: 4px solid orange;
    background-color: transparent;
    right:250px;
    top:-5px;

}


.right-t>:nth-child(2){
    position: absolute;
    width: 250px;
    height: 300px;
    background: rgb(231,161,7);
    background: linear-gradient(90deg, rgba(231,161,7,1) 0%, rgba(234,141,66,1) 72%, rgba(157,130,46,1) 100%);
    right:225px;
    top:22px;

}
 /* it is my origional */