.image-container {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .about-heading {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-description {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
  }
  
  .about-text ul li {
    color: #888;
  }
  
  @media (max-width: 768px) {
    .image-container {
      margin-bottom: 20px;
    }
  
    .about-heading {
      font-size: 2rem;
    }
  }
  