.intro-container {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); /* Box shadow for container */
    border-radius: 10px; /* Border radius for container */
    padding: 20px; /* Padding for container */
}

.intro-box {
    background-color: #f8f9fa; /* Light gray background */
    border-radius: 10px; /* Border radius for container */
}

.intro-container h1 {
    color: #198754; /* Green color for headings */
    margin-bottom: 15px; /* Bottom margin for h1 */
}

.intro-container h2 {
    color: #198754; /* Green color for headings */
    margin-bottom: 25px; /* Bottom margin for h2 */
}

.intro-container p {
    color: #6c757d; /* Dark gray color for paragraphs */
    font-size: 18px;
    line-height: 1.5; /* Line height for better readability */
    margin-bottom: 25px; /* Bottom margin for paragraphs */
}

.label {
    background-color: #198754; /* Green background for labels */
    color: #fff; /* White color for label text */
    padding: 8px 12px; /* Padding for labels */
    border-radius: 20px; /* Border radius for labels */
    font-weight: bold; /* Bold text for labels */
    margin-bottom: 15px; /* Bottom margin for labels */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.label:hover {
    background-color: #155734; /* Darker green background for labels on hover */
}
