.login-container{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
  margin-top: 10px;
  background: #fff;
  padding-bottom: 30px;
}

.login-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 20px;
}

.login-text{
  color: #3c009d;
  font-size: 48px;
  font-weight: 700;
}

.login-underline{
  width: 61px;
  height: 6px;
  background-color: #3c009d;
  border-radius: 9px;

}


.login-inputs{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.login-input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 450px;
  height: 50px;
  background-color: #eaeaea;
  border-radius: 17px;
}

.login-input img{
  margin: 0px 30px;
}
.login-input input{
  height: 50px;
  width: 400px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.login-forgot-password{
  padding-left: 62px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}

.login-forgot-password span{
  color: #4c00b4;
  cursor: pointer;
}

.login-submit-container{
  display: flex;
  gap:30px;
  margin: 60px auto;
}

.login-submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  color: #fff;
  background: #4c00b4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.login-gray{
  background-color: #EAEAEA;
  color: #676767;
}