body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.service-container {
  padding: 50px 20px;
}

.service {
  padding: 2rem;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.service:hover {
  transform: translateY(-5px);
}

.service h3 {
  margin-top: 1rem;
  font-size: 2rem;
  color: #004d40;
  text-transform: uppercase;
  text-align: center;
}

.service ul {
  list-style-type: none;
  padding: 0;
}

.service ul li {
  margin-bottom: 0.5rem;
}

.service ul li::before {
  content: "\2022";
  color: #ffc107;
  font-size: 1.2rem;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.service p {
  margin-top: 1rem;
  color: #333;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
}

.installation-image {
  border-radius: 10px;
  margin-top: 1rem;
  max-width: 100%;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.installation-image:hover {
  transform: scale(1.1);
  filter: brightness(80%) saturate(120%);
}

.text-center {
  text-align: center;
}

.our-commitment-section {
  background: #5cb85c;
  color: #ffffff;
  border-radius: 20px;
  padding: 50px 20px;
  margin-top: 50px;
}

.our-commitment-section h2 {
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.our-commitment-section p {
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.our-commitment-section .btn-light {
  background-color: #ffffff;
  color: #004d40;
  border-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}

.our-commitment-section .btn-light:hover {
  background-color: #cccccc;
}
