/* Header.css */

.navbar {
  background-color: transparent;
  transition: background-color  ease-in-out;
}

.sticky {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expanded {
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateX(20px);
}

.nav-link {
  color: #444;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #5cb85c;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover .underline {
  width: 100%;
}

.navbar-brand img {
  max-width: 120px;
  height: auto;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

.toggle-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background-color: #5cb85c;
  border-radius: 1px;
  transition: background-color 0.3s ease-in-out;
}

.toggle-bar:last-child {
  margin-bottom: 0;
}

.navbar-toggler:hover .toggle-bar {
  background-color: #5cb85c;
}

.toggled .toggle-bar:first-child {
  transform: rotate(45deg) translate(4px, 5px);
}

.toggled .toggle-bar:nth-child(2) {
  opacity: 0;
}

.toggled .toggle-bar:last-child {
  transform: rotate(-45deg) translate(4px, -5px);
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
}
